$duratio : 300ms;
$easing: $easeInOutBack;

.menu-btn {
	position: relative;
	display: block;
	width: 35px;
	height: 30px;
	cursor: pointer;
	z-index: 999;
	
	.close-row,
	.close-row:before,
	.menu-row {
		position: absolute;
		top: 50%;
		display: block;
		width: 100%;
		height: 4px;
		border-radius: 1px;
	}

	.menu-row {
		left: 0;
		background-color: $black;
	}
}

.menu-btn {
	.menu-row {
		transition: all $duratio  $easing;
		
		&.top {
			right: 0px;
			left: auto;
			max-width: 100%;
			transform: translateY(-11px) translateZ(0) scale(1, 1);
		}

		&.mid {
			transition: all $duratio  $easing;
			transform: rotate(-180deg) translateZ(0) scale(1, 1);
			
			&::after {
				display: block;
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				border-radius: 1px;
				background-color: inherit;
				transform: rotate(0deg) translateZ(0) scale(1, 1);
				transition: all $duratio  ease;
			}
		}

		&.bot {
			right: auto;
			left: 0px;
			max-width: 100%;
			transform: translateY(11px) translateZ(0) scale(1, 1);
		}
	}

	&.open {
		.menu-row {
			background-color: $white;
			transition: all 0ms linear;
			
			&.top {
				max-width: 0%;
				animation: key-top $duratio  $easing;
			}

			&.mid {
				transform: rotate(-45deg) translateZ(0) scale(1, 1);
				animation: key-mid $duratio  $easing;
				
				&::after {
					transform: rotate(-90deg) translateZ(0) scale(1, 1);
					transition: all 0ms linear;
					animation: key-mid-after $duratio  $easing;
				}
			}

			&.bot {
				max-width: 0%;
				animation: key-bot $duratio  $easing;
			}
		}
	}
}

@keyframes key-top {
	0% {
		right: auto;
		left: 0px;
		max-width: 100%;
	}
	100% {
		right: auto;
		left: 0px;
		max-width: 0%;
	}
}

@keyframes key-mid {
	0% {
		transform: rotate(0deg) translateZ(0) scale(1, 1);
	}
	100% {
		transform: rotate(-45deg) translateZ(0) scale(1, 1);
	}
}

@keyframes key-mid-after {
	0% {
		transform: rotate(0deg) translateZ(0) scale(1, 1);
	}
	100% {
		transform: rotate(-90deg) translateZ(0) scale(1, 1);
	}
}

@keyframes key-bot {
	0% {
		right: 0px;
		left: auto;
		max-width: 100%;
	}
	100% {
		right: 0px;
		left: auto;
		max-width: 0%;
	}
}