$menuBtnTime: 250ms;
.menu-btn {
	cursor: pointer;
	position: relative;
	display: block;
	height: 30px;
	width: 35px;
	transform: rotate(0deg) translateZ(0) scale(1.0, 1.0);
	transition: transform $menuBtnTime;
	z-index: 1000;

	.menu-row {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 4px;
		border-radius: 1px;
		background-color: $black;
		opacity: 1;
		transform: translateY( -50% ) translateZ(0) scale(1.0, 1.0) ;
	}

	.menu-row.top {
		margin-top: -11px;
        transition: transform $menuBtnTime linear 0ms, margin $menuBtnTime linear $menuBtnTime;	
	}

	.menu-row.mid {
		transition-duration: 0s;
        transition-delay: $menuBtnTime, 0s;
	}

	.menu-row.bot {
		margin-top: 11px;
        transition: transform $menuBtnTime linear 0ms, margin $menuBtnTime linear $menuBtnTime;		
	}

	&.open {
		transform: rotate(180deg) translateZ(0) scale(1.0, 1.0);

		.menu-row.top {
			margin-top: 0px !important;
			opacity: 1;
            transform: rotate( 45deg );
            transition: margin $menuBtnTime linear 0ms, transform $menuBtnTime linear $menuBtnTime;
		}

		.menu-row.mid {
            opacity: 0;
            transition-delay: $menuBtnTime, 0s;
		}
		
		.menu-row.bot {
		    margin-top: 0px !important;
		   	opacity: 1;
            transform: rotate( -45deg );
            transition: margin $menuBtnTime linear 0ms, transform $menuBtnTime linear $menuBtnTime;
		}
	}
}