.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: right;
	color: $white;
	transition: all 250ms ease;
	background-color: $blueSTART;

	.menu-list {
		margin: -8px;

		.menu-item {
			display: inline-block;
			margin: 8px;
		}

		a {
			display: inline-block;
			color: $white;
			padding: 2px 0px;
		}
	}
}

